.card {
  width: 100%;
  background-color: rgb(228, 222, 222);
  height: 8rem;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: all 0.5s ease;
  padding: 7px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.card.selected,
.card.matched {
  transform: rotateY(180deg);
}

.card .card-img-front {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card .card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  display: none;
  transform: rotateY(180deg);
}

.card.selected .card-img,
.card.matched .card-img {
  display: block;
}

.card.selected .card-img-front,
.card.matched .card-img-front {
  display: none;
}

.card.selected {
  background-color: rgb(255, 239, 169);
}
.card.matched {
  background-color: rgb(137, 209, 130);
}
